
.form-container {
    background-color: #f5f5f5;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 20px auto; 
    max-width: 800px; 
    
  }
  
  .form-container h2 {
    margin-bottom: 20px;
    font-weight: bold; 
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  .submit-btn{
    margin-top: 10px;
    font-weight: bold; 
  }
  